
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.container{
    background: white;
    width: 500px;
    height: 500px;
    border-radius: 12px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.titleAndClose{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie{
    display: flex;
    flex-direction: row;
    width: 300px;
    border-radius: 12px;
    align-items: center;
    padding:10px;
    gap: 20px;
    
    
}

.movieImage{
    width:300px;
    height:300px;
    border: 1px solid black;
}